.App {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

div.input-form {
  margin: auto;
  display: inline-block;
}

div.input-textbox {
  width: 100%;
  margin-bottom: 0.5em;
  text-align: right;
}

label {
  margin: 0.5em;
}

div.url {
  display: inline-block;
  width: calc(50% - 2em);
  padding: 1em;
}

div.url label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

div.url input {
  width: 100%;
}