.App {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

div.url-parts {
  margin: auto;
  display: inline-block;
}

div.url-parts div.input-textbox {
  width: 100%;
  margin-bottom: 0.5em;
  text-align: right;
}

label {
  margin: 0.5em;
  font: "Fira Sans", sans-serif;
}

div.urls div.input-textbox {
  display: inline-block;
  width: calc(50% - 2em);
  padding: 1em;
}

div.urls label {
  display: block;
}

div.urls input {
  width: 100%;
}